@media screen and (max-width: 991px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .nav-toggle {
    display: flex;
    justify-content: flex-end;
    margin-left: 0.2vw;
  }
  .nav-toggle a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    text-shadow: -0.1vw -0.1vw 0 black, -0.1vw -0.1vw 0 black,
      -0.1vw -0.1vw 0 black, -0.1vw -0.1vw 0 black;
  }
  nav{
    overflow: initial;
  }
  .link3 {
    display: none;
  }
  .link1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: purple;
    left: -102%;
    width: 101%;
    padding-block:20px;
    top: 3.4vh;
    height: 30vh;
    z-index: 9999;
    transition: 0.5s ease-in-out;
  }
  .link1.active {
    left: 0;
    margin-left: -2px;
  }
  .link1 a{
    font-size: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3vh;
  }
  .link1 a:hover{
    font-size: 4.8vh;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
  }
  .images img{
    width: 31vw;
  }
  .sub {
    width: 80vw;
    max-width: 75.25vw;
  }
  .sub a {
    font-size: 2.4vw;
  }
  .sub a:hover {
    font-size: 2.2vw;
  }
  .link2 a {
    font-size: 3vh;
    border: 0.3vw solid white;
  }
  .direct-download {
    height: 17vh;
    width: 62vw;
  }

  .direct-download button {
    width: 50vw;
    height: 9vh;
    font-size: 3vh;
  }
  .direct-download p {
    font-size: 2vh;
  }
  .file h2{
    font-size: 4vh;
  }
  .middle-stuff {
    display: flex;
    flex-direction: column;
    margin: 3vh 11vw;
    min-height: 24vh;
    height: auto ;
    width: 70vw;
    gap: 1rem;
  }
  .logo {
    transform: none;
    position: absolute;
    left: 56%;
    bottom: 65%;
  }
  .logo.active{
    position: absolute;
    right: -100%;
    transition: 0.7s ease-in;
    overflow: hidden;
  }
  .middle-stuff h1 {
    font-size: 5vw;
    margin: 0;
  text-align: center;
  line-height: 1.2;
    position: relative;
    right: 14vh; 
    text-shadow: -0.5w -0.5w 0 black, -0.5w -0.5w 0 black, -0.5w -0.5w 0 black,
      -0.5w -0.5w 0 black;
  }
  #h1-1.active{
        position: relative;
        right: -101%;
        transition: 0.5s ease-in-out;
        overflow: hidden;
  }
  .middle-stuff img {
    width: clamp(120px, 20vw, 180px);
  height: auto;
  }
  .container2 h1 {
    transform: translate(3%, 25%);
  }
  .container2{
    height: 67vh;
    overflow: hidden;
  }
}
